:root {
    --rojo: #FF0000;
    --amarillo: #FFD700;
    --verde: #00FF00;
    --azul: #007BFF;
    --blanco: #FFFFFF;
    --gris: #808080;
    --negro: #000000;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: url('/src/assets/loader.gif') 50% 50% no-repeat #1a1a1a;
    opacity: 1;
}


.contenedor {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column-reverse;
    width: 80vw;
    padding: 0;
    align-items: center;
}

.card {
    /* border: 1px solid white; */
    width: 80%;
}

.cont-img {
    width: 275px;
    height: 275px;

}

img {

    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
    align-items: center;
    border: 4px double var(--azul);
    box-shadow: 0px 0px 10px 5px var(--amarillo);
}

h1,
p {
    display: none;
}

input {
    border: 1px solid var(--azul);
    font-size: 20px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 80%;
    background-color: var(--gris);
    color: var(--negro);
    box-shadow: inset 0px 0px 18px #007bff;
    border-radius: 15px;
    margin-bottom: 15px;
}

.botones {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.botones button {
    color: var(--azul);
    background-color: var(--amarillo);
    border: 4px solid var(--azul)
}



.info {
    text-align: left;
}

.info h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 0;
    text-transform: capitalize;
}

@media screen and (orientation: landscape) {}

@media screen and (min-width: 720px) {
    .contenedor {
        display: flex;
        flex-direction: row;
        width: 600px;
        height: 600px;
        background-color: var(--gris);
        border-radius: 20px 50% 50% 20px;
        justify-content: space-between;
        align-items: flex-start;
        box-shadow: 10px 10px 10px 5px var(--negro);
    }

    h4 {
        line-height: 0.4em;
    }

    h1 {
        display: block;
        color: hsla(0, 0%, 0%, .1);
        letter-spacing: 5px;
        text-transform: uppercase;
        animation: move linear 10000ms infinite;
        margin: 0px;
    }

    @keyframes move {
        0% {
            text-shadow:
                4px -4px 0 hsla(0, 100%, 50%, .07),
                3px -3px 0 hsla(0, 100%, 50%, .07),
                2px -2px 0 hsla(0, 100%, 50%, .07),
                1px -1px 0 hsla(0, 100%, 50%, .07),
                -4px 4px 0 hsla(180, 100%, 50%, .07),
                -3px 3px 0 hsla(180, 100%, 50%, .07),
                -2px 2px 0 hsla(180, 100%, 50%, .07),
                -1px 1px 0 hsla(180, 100%, 50%, .07);
        }

        25% {
            text-shadow:
                -4px -4px 0 hsla(180, 100%, 50%, .07),
                -3px -3px 0 hsla(180, 100%, 50%, .07),
                -2px -2px 0 hsla(180, 100%, 50%, .07),
                -1px -1px 0 hsla(180, 100%, 50%, .07),
                4px 4px 0 hsla(0, 100%, 50%, .07),
                3px 3px 0 hsla(0, 100%, 50%, .07),
                2px 2px 0 hsla(0, 100%, 50%, .07),
                1px 1px 0 hsla(0, 100%, 50%, .07);
        }

        50% {
            text-shadow:
                -4px 4px 0 hsla(0, 100%, 50%, .07),
                -3px 3px 0 hsla(0, 100%, 50%, .07),
                -2px 2px 0 hsla(0, 100%, 50%, .07),
                -1px 1px 0 hsla(0, 100%, 50%, .07),
                4px -4px 0 hsla(180, 100%, 50%, .07),
                3px -3px 0 hsla(180, 100%, 50%, .07),
                2px -2px 0 hsla(180, 100%, 50%, .07),
                1px -1px 0 hsla(180, 100%, 50%, .07);
        }

        75% {
            text-shadow:
                4px 4px 0 hsla(180, 100%, 50%, .07),
                3px 3px 0 hsla(180, 100%, 50%, .07),
                2px 2px 0 hsla(180, 100%, 50%, .07),
                1px 1px 0 hsla(180, 100%, 50%, .07),
                -4px -4px 0 hsla(0, 100%, 50%, .07),
                -3px -3px 0 hsla(0, 100%, 50%, .07),
                -2px -2px 0 hsla(0, 100%, 50%, .07),
                -1px -1px 0 hsla(0, 100%, 50%, .07);
        }

        100% {
            text-shadow:
                4px -4px 0 hsla(0, 100%, 50%, .07),
                3px -3px 0 hsla(0, 100%, 50%, .07),
                2px -2px 0 hsla(0, 100%, 50%, .07),
                1px -1px 0 hsla(0, 100%, 50%, .07),
                -4px 4px 0 hsla(180, 100%, 50%, .07),
                -3px 3px 0 hsla(180, 100%, 50%, .07),
                -2px 2px 0 hsla(180, 100%, 50%, .07),
                -1px 1px 0 hsla(180, 100%, 50%, .07);
        }
    }

    p {
        line-height: 0.4em;
        text-align: right;
        padding-right: 30px;
        margin: -2px -8px 15px;
        color: hsla(180, 100%, 50%, .07);
        text-shadow: 1px 1px 1px hsla(0, 100%, 1%, 0.501);

    }

    .card {
        color: var(--negro);
        min-width: 300px;
    }



    .cont-img {
        align-self: center;
        text-align: center;
        justify-self: center;
    }

    img {
        border: none;
        box-shadow: none;
        border-radius: 0;
        max-width: 400px;
    }




}